html,
body {
  padding: 0;
  margin: 0;
  font-family: skolar-sans-latin-extended, sans-serif;
  font-style: normal;

  --color-primary-black: #111;
  --color-primary-white: #fff;
  --color-accent: #243957;
  --color-lt-green: #9bfe6d;
  --color-lt-blue: #72a9fb;
  --color-gold: #9d692f;

  --text-size-title: 48px;
  --text-size-main: 16px;
  --text-size-alt: 20px;

  --font-family-primary: skolar-sans-latin-extended, sans-serif;
  --font-family-secondary: skolar-sans-latin-compressed, sans-serif;
  --font-weight-normal: 500;
  --font-weight-bold: 800;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
