.container {
  background: var(--color-accent);
  height: 100vh;
  padding: 48px 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "title  title"
    "tap1 tap2"
    "tap3 tap4";
  grid-gap: 48px;
}

.header {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
}
